*{
    text-decoration: none;
    list-style: none;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    color: #000;
}

/* 헤더 파트 */

header {
    display: flex;
    align-items: center;
    background-color: rgb(36, 29, 29);
    height: 56px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo > i {
    color: red;
    padding-left: 12px;
}

.title {
    color: #fff;
    margin-left: 2px;
}

.icons {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.icons > .menu {
    padding-right: 12px;
    padding-left: 5px;
}

.icons i {
    color: #fff;
}

/* 비디오 파트 */

article {
    background-color: rgb(29, 24, 24);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 585px;
}

iframe { 
    width: 90%;
    height: 90%;
}

/* 컨텐츠 전체적인 파트 */

.metadata {
    display: block;
    align-items: flex-start;
    /* background-color: rgb(29, 24, 24); */
    background-color: skyblue;
}

.content_title {
    /* background-color: rgb(29, 24, 24); */
    background-color: antiquewhite;
    width: 60%;
    padding-left: 12px;
}

.content_title > div {
    margin-top: 10px;
    padding-bottom: 10px;
    color: #fff;
}

/* 해쉬태그 */

.hashtags {
    display: flex;
}

.hashtags > li {
    color: #fff;
    font-size: 5px;
    margin-left: 7px;
    margin-bottom: 5px;
}

/* 타이틀과 버튼 */

.titleAndBtn {
    color: #fff;
}

.views {
    /* border-bottom: 1px solid gray; */
    color: #fff;
    width: 100%;
}

/* 액션 파트 */
.actions {
    display: flex;
}

.actions {
    margin-bottom: 5px;
    border-bottom: 1px solid gray;
}

/* channel info */
.channel {
    display: flex;
}

.metadata1 {
    display: flex;
}

.metadata > img {
    border-radius: 5px;
    width: 50px;
}

.info {
    display: block;
}



/* 옆구리 부분 */
.UpNext {
    background-color: green;
}

.content_aside {
    background-color: red;
    width: 40%;
    margin-left: 12px;
}