*{
    text-decoration: none;
    list-style: none;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    color: #000;
}

header {
    display: flex;
    align-items: center;
    background-color: rgb(36, 29, 29);
    height: 56px;
}

header > div > img {
    height: 40px;
    width: 90px;
    padding-left: 12px;
}

.icons {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.icons > .menu {
    padding-right: 12px;
    padding-left: 5px;
}

.icons i {
    color: #fff;
}

article {
    background-color: rgb(36, 29, 29);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 585px;
}

iframe { 
    width: 90%;
    height: 90%;
}

.content {
    display: flex;
    width: 100%;
    background-color: red;
}

.content_title {
    background-color: rgb(36, 29, 29);
    width: 60%;
    padding-left: 12px;
}

.content_title > li {
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
    color: #fff;
}

.content_aside {
    background-color: blue;
    width: 40%;
    margin-left: 12px;
}

.content_title > li {
    margin-left: 12px;
}