:root {
    /* Color */
    --white-color: #fff;
    --black-color: #140a00;
    --blue-color:#045fd4;
    --red-color: #ff0000;
    --grey-dark-color: #909090;
    --grey-light-color: #e0e0e0;

    /* Size */
    --padding : 12px;
    --avatar-size : 36px;

    /* font Size */
    --font-large : 18px;
    --font-medium : 14px;
    --font-small : 12px;
    --font-micro : 10px;
}

*{
    text-decoration: none;
    list-style: none;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: #000; */
}

/* 헤더 파트 */

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--black-color);
    color: var(--white-color);
    padding: var(--padding);
}

header .logo {
    font-size: var(--font-large);
}

header .logo  i {
    color: var(--red-color);
    /* padding-left: 12px; */
}

header .icons .fa-youtube {
    margin-right: var(--padding);
}

.title {
    /* color: #fff; */
    /* margin-left: 2px; */
}

/* 비디오 파트 */

article {
    background-color: rgb(29, 24, 24);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 585px;
}

iframe { 
    width: 90%;
    height: 90%;
}

/* 컨텐츠 전체적인 파트 */

.metadata {
    display: block;
    align-items: flex-start;
    /* background-color: rgb(29, 24, 24); */
    background-color: skyblue;
}

.content_title {
    /* background-color: rgb(29, 24, 24); */
    background-color: antiquewhite;
    width: 60%;
    padding-left: 12px;
}

.content_title > div {
    margin-top: 10px;
    padding-bottom: 10px;
    color: #fff;
}

/* 해쉬태그 */

.hashtags {
    display: flex;
}

.hashtags > li {
    color: #fff;
    font-size: 5px;
    margin-left: 7px;
    margin-bottom: 5px;
}

/* 타이틀과 버튼 */

.titleAndBtn {
    color: #fff;
}

.views {
    /* border-bottom: 1px solid gray; */
    color: #fff;
    width: 100%;
}

/* 액션 파트 */
.actions {
    display: flex;
}

.actions {
    margin-bottom: 5px;
    border-bottom: 1px solid gray;
}

/* channel info */
.channel {
    display: flex;
}

.metadata1 {
    display: flex;
}

.metadata > img {
    border-radius: 5px;
    width: 50px;
}

.info {
    display: block;
}



/* 옆구리 부분 */
.UpNext {
    background-color: green;
}

.content_aside {
    background-color: red;
    width: 40%;
    margin-left: 12px;
}

.item img {
    width: 60px;
    height: 30px;
}