<%- include('partials/head')%>
<body>
    <%- include('partials/navbar')%>
    <h1>The Home Page</h1>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus sed quasi at repellat nostrum, vero nam, iste cumque consequatur recusandae inventore velit praesentium autem eaque debitis consectetur aspernatur animi doloribus?
    </p>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus sed quasi at repellat nostrum, vero nam, iste cumque consequatur recusandae inventore velit praesentium autem eaque debitis consectetur aspernatur animi doloribus?
    </p>
</body>
</html>